@mixin home-common {
    background-size: cover;
    align-self: center;
    position: relative;
    background-position: center center;
}

.bg-home {
    height: 100vh;
    @include home-common();
}

.bg-half-170 {
    padding: 170px 0;
    @include home-common();
}


// saas
.classic-saas-image {
    .bg-saas-shape {
        &:after {
            bottom: 3rem;
            left: 0;
            width: 75rem;
            height: 55rem;
            border-radius: 15rem;
            opacity: 0.6;
            transform: rotate(130deg);
            box-shadow: 0 0 40px rgba($primary, 1);
            background-color: $primary;
            content: " ";
            position: absolute;
            z-index: -1;
        }
    }
}
