#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    border: 0;
    background-color: transparent;
    transition: all .5s ease;
}

.logo {
    float: left;
    color: $dark !important;
    margin-left: 15px;
    transition: all .5s ease;
    &:hover {
        transform: scale(1.05) rotate(1deg);
    }
}