#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    border: 0;
    background-color: transparent;
    transition: all .5s ease;
    .logo {
    float: left;
    color: $dark !important;
    margin-left: 0px;
    line-height: 68px;
    transition: all .5s ease;
    &:hover {
        transform: scale(0.9) rotate(1deg);
    }
    }
    .auth {
    float: right;
    line-height: 68px;
    }


    &.nav-sticky {
        background: $white;
        box-shadow: $shadow;
    }

}

.logo {
    line-height: 68px;
    font-weight: 700;
    padding: 0 0 6px;
    letter-spacing: 1px;
    font-size: 20px;
}




