.overflow-hidden {
    overflow: hidden;
}


.form-group .icons{
     position: absolute;
     top: 43px;
     left: 18px;
}

.fea.icon-sm {
    height: 16px;
    width: 16px;
}

.fea {
    stroke-width: 1.8;
}